/*
:root {
    --site-width: 98rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #fdfdfd;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.7rem;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 50%;
  margin: 10px auto;
}
input {
  width: 100%;
  padding: 7px;
  font-size: 3rem;
  font-family: serif;
  box-sizing : border-box;
  border: solid 1px #fdfdfd;
}
.quill, .articleContent {
  padding: 10px;
  background: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .07);
  min-height: 900px;
}

.ql-editor, .articleContent {
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  color: rgba(0,0,0,.85);
  opacity: 1;
  font-size: 2rem;
  font-family: serif;
}
*/